@using DemoUpSchoolProject.Models.Entities
@model List<TblServices>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int sayac = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac += 1;
        <tr>
            <td>@sayac</td>
            <td>@item.Title</td>
            <td><a href="/Services/DeleteService/@item.ServicesID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Services/UpdateService/@item.ServicesID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Services/AddService/" class="btn btn-primary">Yeni Hizmet Girişi</a>