@model List<DemoUpSchoolProject.Models.Entities.TblServices>
<section class="w3l-homeblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">My Services</span>
                    <h3 class="title-big"><span>Build your brand</span> and grow your business</h3>
                    <p class="mt-4">
                        I can give your business a new creative start right away! You can download my resume
                        in order to learn the details of my professional life as a designer and photographer.
                    </p>

                    <ul class="service-list mt-md-5 mt-4">
                        @foreach (var item in Model)
                        {
                        <li class="service-link"><a href="#">@item.Title</a></li>
                        }
                     </ul>
                    <a href="#url" class="btn btn-style btn-empty p-0">View my all services <span></span></a>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="position-relative">
                        <img src="~/Templates/iportfolio-starter/assets/images/about.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
