
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h2>Giriş Sayfası</h2>
<hr />
<form method="post">
    <div class="container">
        <label>Mail Adresiniz</label>
        <input type="text" name="MemberMail" class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input type="password" name="MemberPassword" class="form-control" />
        <br />
        <button class="btn btn-warning">Giriş Yap</button>
    </div>
</form>
