
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container">
    <h1>oooppss! kayıp mı oldun, hemen ana sayfaya dön</h1>
    <a href="/About/Index" class="btn btn-warning">Ana Sayfa</a>
</div>
